* {
    gap: 0;
    margin: 0;
    padding: 0;
}

#title {
    background-color: blueviolet;
    height: 10vh;
    text-align: center;
    display: flex;
    /* Usa flexbox */
    align-items: center;
    /* Centra verticalmente */
    justify-content: center;
    /* Centra horizontalmente */
}

#map {
    height: 90vh;
}

#title h1 {
    margin: 0;
    /* Elimina el margen por defecto */
    color: azure;
}

#title span a {
    margin: auto;
    color: rgb(32, 46, 17);
}

/* Estilo para pantallas móviles */
@media screen and (max-width: 768px) {

    html,
    body,
    #map {
        height: 100%;
        width: 100vw;
    }

    #title {
        height: 5vh;
    }

    #map {
        height: 95vh;
    }

    h1 {
        font-size: 14px;
    }
}